{% extends 'base.html.twig' %}

{% block title %}Spell index{% endblock %}

{% block body %}
	<a href="{{ path('app_spell_spellgraph') }}">Network Graph</a>
	<section id="spellSearchRoot"/>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('spellSearch') }}
{% endblock %}

