<div class="px-4 md:px-6 py-16 lg:px-20 2xl:px-0 2xl:mx-auto 2xl:container">
	<div class="flex justify-start items-start flex-col space-y-2">
		<p class="text-3xl lg:text-4xl font-semibold leading-9 text-gray-800 dark:text-white">
			{{ title }}</p>
		<p class="text-base leading-4 text-gray-600 dark:text-gray-300">{{ currentPath }}</p>
	</div>
</div>
