{% extends 'base.html.twig' %}

{% block title %}Beast index{% endblock %}

{% block body %}
    <section id="beastSearchRoot"></section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('beastSearch') }}
{% endblock %}
